---
title: Connect your adventures with others
text: Share your adventures with your friends and follow the adventures of your friends.
icon: fa-users
landscapeImg: landscape.jpg
mockupImg: connectMockup.png
altFeature: connect your adventure with others
eleventyNavigation:
    key: connect with friends
    order: 5
    parent: Features
permalink: "features/connect-with-your-friends/"
---

<p>As our slogan says, every hike is an adventure. And adventures are beautiful, but they are even more beautiful when you show them to others. Hikeventure owns a collection of walks all over the world. This way we ensure that our walkers see the most fantastic places. You can share these adventures with others by adding numerous photos and captions to an activity. This activity will then be added to your feed. Your friends and followers can also give likes and comments to this activity.</p>

<p>As your friends and followers can see your registered activities, you can also see the activities of your friends and the adventurers you follow and you can of course also give likes and comments.</p>
