---
title: Create custom maps to personalize your trip
text: With Hikeventure you can easily create custom maps. Draw your route(s), select your colors, add waypoints, then share it with your friends or with the whole walking community.
icon: fa-map
landscapeImg: landscape.jpg
mockupImg: customMapsMockup.png
altFeature: create your custom walks
eleventyNavigation:
    key: custom maps
    order: 1
    parent: Features
permalink: "features/create-custom-maps/"
---

<p>Have you already done all the walks of Hikeventure in your neighboorhood and do you want something different or do you not immediately find the walk that is written for you? Then there is still the possibility to create your own walk.</p>

<p>With Hikeventure you can easily put together your own walks. Draw your route (s), select your colors, add waypoints, and then go on an adventure. You can also share your own hikes with your friends or even with the entire Hikeventure community.</p>
