---
title: Know the details before you walk
text: Browse through thousands of walks as well as walk reviews, photo's, ...
icon: fa-info-circle
landscapeImg: landscape.jpg
mockupImg: knowledgeMockup.png
altFeature: get all the details of your walk before you go
eleventyNavigation:
    key: get details
    order: 3
    parent: Features
permalink: "features/know-all-the-details/"
---

<p>Hikeventure has a huge collection of beautiful walks all over the world. If someone has already walked somewhere, it will be on Hikeventure. Thanks to our millions of adventurers around the world, Hikeventure's road and trail network is unparalleled. Are you ready for a new adventure or do you want to map out your own route? We will find a suitable place for you. Filter by distance, duration, difficulty, rating, points to be earned and accessibility to always find the perfect walk for you.</p>

<p>Before you go on an adventure, you will receive all the necessary details about your hike. This way you not only get to see the details about your walk, such as the distance and the expected duration, but you get a lot more information. This way you also get to see beautiful photos of the walk, but also the reviews of your fellow adventurers. You also get to see the weather for the next five days.</p>
