---
layout: features
tags: features
title: Take your nature knowledge up a notch
text: Use the power of image recognition technology to identify the plants and animals all around you. Earn trophies for seeing different types of birds, plants, ...
icon: fa-camera
landscapeImg: landscape.jpg
mockupImg: takePhotosMockup.png
altFeature: Take a picture and get some information about it
eleventyNavigation:
    key: nature knowledge
    order: 4
    parent: Features
permalink: "features/improve-your-nature-knowledge/"
---

<p>With every walk, you have the opportunity to discover a part of the world. With every step you take, there are hundreds of living organisms around you without you even realizing it.</p>

<p>Use our image recognition technology to identify the plants and animals all around you. With every photo, you take you will see some photos of the identified animal or plant in other environments. You will also get some useful information about this.</p>

<p>Once you have identified an animal or plant, it will end up in your observations. With your observations you can view all the animals or plants you have ever identified again and request information about them.</p>
