---
title: Collect trophies and climb the leaderboard
text: You can earn trophies when you accomplish certain objectives from hiking a total of 100km to identifying 30 different mammals
img: /assets/img/walkingWithFriends.jfif
icon: fa-trophy
landscapeImg: landscape.jpg
mockupImg: trophiesMockup.png
altFeature: Trophies and leaderboard page
eleventyNavigation:
    key: collect trophies
    order: 2
    parent: Features
permalink: "features/collect-trophies-and-climb-the-leaderboard/"
---

<p>Collect hundreds of trophies by completing goals from walking a total of 100km to identifying 30 different mammals. The types of achievements vary, but they are often linked to fun walks, hiking activities, animal and plant identification, and much more. There are 4 different types of trophies: bronze, silver, gold, and star gold. These trophies can be obtained according to the difficulty of the achievement. You can then compare your trophies with those of your friends.</p>

<p>With every walk you have completed, you will also receive certain points, but identifying plants or animals will also earn you points. Collect as many points as you can to move up in the overall leaderboard or just your friends' leaderboard.</p>
