// colors 
$header-backgroundColor: #0B0D07;
$header-textColor: #F7FBED;
$header-hoverColor: #9ACA3C;
$primary-textColor: #0B0D07;
$primary-backgroundColor: #F7FBED;
$primary-white: #fff; 
$button-color: #9ACA3C;
$button-hover: #628f0a;
$divider-color: #0b0d073f;
$special-textColor: #9ACA3C;
$accent-color: #9ACA3C;
$primary-borderColor: #0B0D07;
$radioButton-hoverColor: #ccc;
$radioButton-color: #eee;
$input-backgroundColor: #fafafa;
$input-borderColor: #aaabae;

// font size
$text-sm: 0.85rem;
$text-base: 1rem;
$text-md: 1.25rem;
$text-lg: 2rem;
$text-elg: 2.5rem;


// width
$medium-container: 50rem;

// radius 
$radius-sm: 0.25rem;
$radius-base: 1rem;
$radius-lg: 2rem;
$radius-round: 50%;

// Spacing
$space-eSmall: 0.5rem;
$space-small: 0.75rem;
$space-sbase: 1rem;
$space-base: 1.5rem;
$space-medium: 2rem;
$space-emedium: 2.25rem;
$space-lg: 3rem;
$space-elg: 4.5rem;
$space-xlg: 6rem;

// Transition
$normal-transition: all 0.2s ease-in-out;
