.wysiwyg {
    padding: 0 $space-base $space-base $space-base;
    width: 100%;
    max-width: $medium-container;
    margin: 0 auto;

    img {
        margin-bottom: $space-base;
    }

    .citation {
        margin-bottom: $space-base;
        display: flex;
        justify-content: space-between;
    }

    p img {
        margin-bottom: 0;
    }

    ol {
        strong {
            display: inline-block;
            margin-bottom: $space-small;
        }

        p {
            display: inline;
        }
    }

    ul li {
        padding-bottom: $space-small;
        display: flex;

        &:before {
            @include circle(0.75rem);
            flex-shrink: 0;
        }
    }
}
