* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: $text-elg;
    padding-bottom: $space-base;
    padding-top: $space-lg;
    line-height: 1;
 }
 
 h2 {
     font-size: $text-lg;
     line-height: 1.2;
     margin: 0;
     padding-bottom: $space-base;
 }
 
 h3 {
     font-size: $text-md;
     line-height: 1.2;
     padding-bottom: $space-small;
     padding-top: $space-small;
 }

 h4 {
     font-size: $text-base;
     padding-bottom: 0.5rem;
 }

p {
    font-size: $text-base;
    line-height: 1.5;
    margin-bottom: $space-base;
}

ol {
    list-style-position: inside;
}

ul {
    list-style: none;
}

em {
    display: inline-block;
    margin-top: $space-lg;
}
